<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Secret storage</title>
</head>
<body>
<div class="container">
<nav class="navbar navbar-expand-lg sticky-top navbar-light" style="background-color: #292929;">
    <a class="navbar-brand mx-3" href="#" style="color: #bebebe"><h2><strong>SecNote</strong></h2></a>

        <ul class="nav">
            <li class="nav-item">
        <a class="nav-link" href="/" style="color: #e4e4e4"><h4>Home</h4></a>
            </li>
            <li class="nav-item">
        <a class="nav-link" href="/create" style="color: #e4e4e4"><h4>Create</h4></a>
            </li>
            <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/check" style="color: #e4e4e4"><h4>Check</h4></a>
            </li>
        </ul>
</nav>
</div>
<div class="container text-center">
    <p class="h4 m-3">You can see all of your notes here. Just attach your key and click "Submit"</p>
</div>
<div class="container text-center">
    <form method="post" enctype="multipart/form-data" >
       <!-- <input type="file" name="profile" value="Your key" class="form-control"> -->
        <div class="input-group mb-3">
                <span class="input-group-text">Your key</span>
                <input type="file" name="profile" value="Your key" class="form-control">
            </div>
        <input type="submit" value="Submit" class="btn btn-dark">
    </form>
</div>
<div class="container mt-5">
    {% for item in note %}
        <div class="container alert alert-dark">
    <h3>{{ item[1] }}</h3>
    <p>{{ item[0] }}</p>
        </div>
    {% endfor %}
</div>


</body>
</html>